:root{
  --bg:#050505;
/* ===== MENU LATERAL ===== */

.menu{

position:fixed;
left:-280px;
top:0;
width:260px;
height:100%;
background:#0b0b0b;
padding:25px;
display:flex;
flex-direction:column;
gap:18px;
transition:.35s;
z-index:5000;
border-right:2px solid #7a0000;

}

.menu.show{

left:0;

}

.menu-header{

display:flex;
justify-content:space-between;
align-items:center;
font-size:22px;
font-weight:bold;
color:#ff2d2d;
margin-bottom:20px;

}

.menu a{

text-decoration:none;
color:white;
padding:12px;
border-radius:10px;
transition:.25s;

}

.menu a:hover{

background:#d10000;

}

.menu-btn{

position:fixed;
top:18px;
left:18px;
width:50px;
height:50px;
border:none;
border-radius:12px;
background:#d10000;
color:white;
font-size:24px;
z-index:6000;

}

.menu-header button{

background:none;
border:none;
color:white;
font-size:20px;

}
